<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="../../public/css/app.css"/>-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<section class="container">
    <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="/">Главная</a></li>

        </ul>
        <p>chat here</p>
        <ul class="nav navbar-nav navbar-right">
            <% if (user){ %>
                <a href="" onclick="$(document.body).append($('<form method=POST action=/logout>'));$('form').submit();return false">Выйти</a>
            <% } else { %>
                <li><a href="/login">Войти</a></li>
            <% } %>
        </ul>
    </nav>
</section>
<p id="name"><%=user.get("username")%></p>
<div id="room">
    <ul></ul>
    <form>
        <input type="text" class="form-control" autocomplete="off" autofocus placeholder="Message...">
    </form>
</div>
<script>
    function setLS(){
        const user =document.getElementById('name').innerText;
        localStorage.setItem('logo', user);
        return localStorage.getItem('logo');
    }
    setLS();
</script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const ls = setLS();
    const socket = io.connect('', {
        'reconnection delay': 1
    });

    const form = $('#room form');
    const ul = $('#room ul');
    const input = $('#room input');

    form.submit(function () {
        // const input = $(this).find(':input');
        let text = input.val();
        let allText = ls +" > " + text;
        socket.emit('message', allText, function (data) {
            $('<li>', {text: allText}).appendTo(ul);
        });
        $('#room>form>input').val('');
        return false;
    });

    socket
        .on('message', function (text) {
            $('<li>', {text: text}).appendTo(ul);
        })
        .on('join', function (ls) {
            printStatus(ls + ' вошел/вошла в чат');
        })
        .on('leave', function (ls) {
            printStatus(ls + ' вышел/вышла из чата');
        })
        .on('connect', function () {
            printStatus('соединение установлено');
        })
        .on('disconnect', function () {
            printStatus('соединение потеряно');
        })

    function printStatus(status){
        $('<li>').append($('<i>').text(status)).appendTo(ul);
    }
    socket.emit('userConnect', ls);

</script>

</body>
</html>

