<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <!--<link rel="stylesheet" href="../../public/css/app.css"/>-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<section class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href="/">Главная</a></li>
      <!--<li><a href="/chat">Чат</a></li>-->
    </ul>
    <p>Wellcome</p>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/registration">зарегистрироваться</a></li>
    </ul>

  </nav>
</section>

<p>Введите имя пользователя и пароль.</p>

<form class="form-horizontal login-form" action="/auth/login" method="POST" name="login-form">
  <div class="form-group">
    <label for="input-username" class="col-lg-2 control-label">Имя</label>

    <div class="col-lg-10">
      <input name="username" value="name" type="text" class="form-control" id="input-username" placeholder="Имя" required>
    </div>
  </div>
  <div class="form-group">
    <label for="input-password" class="col-lg-2 control-label">Пароль</label>

    <div class="col-lg-10">
      <input name="password" value="pass" type="password" class="form-control" id="input-password" placeholder="Пароль" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Войти</button>
      <span class="help-block error"></span>
    </div>
  </div>
</form>

<script>
    $(document.forms['login-form']).on('submit', function() {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "/login",
            data: form.serialize(),
            method: "POST",
            complete: function() {
                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function() {
                    form.html("Вы вошли в сайт").addClass('alert-success');
                    window.location.href = "/chat";
                },
                403: function(jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                }
            }
        });
        return false;
    });
</script>
</body>
</html>